:host {
  display: block;
  padding: 1rem;

}

.progress-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  mat-checkbox {
    bottom: 10px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}