@use '@angular/material' as mat;

@mixin hide-scrollbar {

  /* Hide scrollbars for all descendants */
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;

  @include hide-scrollbar;
}


.exercises-form {
  flex: 1;
  overflow-y: auto;
  min-height: 0; // ensures proper flexbox scroll behavior
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.exercise {
  padding: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
      flex-shrink: 0;
      flex-basis: auto;
      font-weight: 500;
    }


    &__check-state {
      &__group-names {
        font-size: 0.75rem;
        opacity: 0.8;
        margin-right: 1rem;
        ;
      }

      mat-icon {
        vertical-align: middle;
        color: lime;
        opacity: 0.7;
      }

      float: right;
    }
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    flex-wrap: wrap;

    &__goal-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__input {
      flex: 1 1 100%;
    }

    &__increment-buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

    }
  }
}

.close-button {
  width: 100%;
  position: sticky;
  /* in case parent scroll changes later */
  bottom: 0;
  justify-content: center;
}

mat-divider {
  width: 100%;
}

mat-slide-toggle {
  margin: auto
}