<!-- Container provides full height flex layout -->
<form (ngSubmit)="onSubmit()" [formGroup]="exercisesGroup" class="exercises-form">
  @for (exercise of exercises(); track $index) {
  <div class="exercise">
    <div class="exercise__header">
      <mat-label>{{ exercise.name }}</mat-label>
      @if (progressMap().get(exercise.id)! >= nextGoalMap().get(exercise.id)!) {
      <mat-icon class="check-icon">check</mat-icon>
      }
    </div>

    <div class="exercise__row">
      <mat-form-field class="exercise__row__input" appearance="outline">
        <input matInput [formControl]="getExerciseControl(exercise.id)" type="number" min="0" />
        <div matSuffix class="exercise__row__goal-info">
          @if (nextGoalMap().get(exercise.id); as nextGoal ) {
          <span> / {{ nextGoal }}</span>
          }
          <button matSuffix mat-icon-button aria-label="Reset" type="button"
            (click)="$event.stopPropagation(); onProgressChange(exercise.id, 0)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <div class="exercise__row__increment-buttons">
        <button mat-raised-button type="button" class="round-btn"
          (click)="onProgressIncrease(exercise.id, 5)">+5</button>
        <button mat-raised-button type="button" class="round-btn"
          (click)="onProgressIncrease(exercise.id, 10)">+10</button>
        <button mat-raised-button type="button" class="round-btn"
          (click)="onProgressIncrease(exercise.id, 25)">+25</button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

  }
</form>



<button cdkFocusInitial class="close-button" mat-stroked-button type="button" (click)="onClose()">
  <mat-icon>close</mat-icon>
  Close
</button>