@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

mat-card {
  &.--completed {
    @include mat.card-overrides((elevated-container-color: rgba(lime, 0.1),
      ));
  }

  &.--disabled {
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(0.5);
  }
}

.exercise {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;

  &__name {
    width: 6rem;
    font-weight: 600;
  }

  &__progress-slider {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    mat-slider {
      flex-grow: 1;
    }
  }

  &__target-info {
    width: 6rem;
    text-align: center;
    font-size: 0.75rem;
    color: var(--mat-sys-on-surface-variant);
  }

  &__complete {
    width: 6rem;
    text-align: center;
  }



}

.daily-progress {
  &__begin {
    @include mat.progress-bar-overrides((active-indicator-color: cyan))
  }

  &__intermediate {
    @include mat.progress-bar-overrides((active-indicator-color: orange))
  }

  &__advanced {
    @include mat.progress-bar-overrides((active-indicator-color: gold))
  }

  &__completed {
    @include mat.progress-bar-overrides((active-indicator-color: lime))
  }
}