:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exercise-state {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;

  .exercise-name {
    width: 6rem;
    font-weight: 600;
  }

  .complete-button {
    width: 6rem;
    text-align: center;
  }

  .progress-slider {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    mat-slider {
      flex-grow: 1;
    }
  }
}