<app-toolbar></app-toolbar>
<!-- Section 1: Charts -->
<div class="section charts">
  <h3>{{ selectedGroup()?.name ?? 'Your Progress' }}</h3>
  @if (!selectedGroup()) {
  <app-daily-progress-chart [exercises]="exercises()" [progress]="todaysProgress()" />
  } @else {
  <app-group-progress-chart [group]="selectedGroup()" />
  }
  @if(selectedGroup()){
  <button mat-stroked-button (click)="onClearGroup()">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    Back
  </button>
  }
</div>

<mat-divider />

<!-- Section 2: Group panels -->

@if (groups().length > 0) {
<div class="section groups">
  <div class="group-scroll">
    @for (group of groupsJoined(); track group.id) {
    <app-group-progress-panel [group]="group" [memberId]="loginService.member()?.username"
      (detail)="onGroupDetail($event?.id)" />
    }
  </div>
</div>
}

<mat-divider />

<!-- Section 3: Exercise list -->
<div class="section exercises">
  <app-exercise-list [exercises]="exercises()" [progressMap]="progressMap()"
    (progressChange)="onExerciseChange($event)" />
</div>