<app-toolbar></app-toolbar>
<!-- Section 1: Charts -->
<div class="charts">
  <h3>{{ group()?.name ?? 'Your Progress' }}</h3>
  @if (!group()) {
  <app-daily-progress-chart [exercises]="exercises()" [progress]="todaysProgress()" />
  } @else {
  <app-group-progress-chart [group]="group()" />
  }
  @if(group()){
  <button mat-stroked-button (click)="onClearGroup()">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    Back
  </button>
  }
</div>

<mat-divider />

<!-- Section 2: Group panels -->

@if (groups().length > 0) {
<div class="groups">
  <div class="group-scroll">
    @for (group of groupsJoined(); track group.id) {
    <app-group-progress-panel [group]="group" [memberId]="currentMember()?.username"
      (detail)="onGroupDetail($event?.id)" />
    }
  </div>
</div>
}

@if (editProgressEnabled()) {
<button mat-stroked-button (click)="onOpenExerciseSheet()">
  <mat-icon>fitness_center</mat-icon>
  Exercises
</button>
}