:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}


.charts {
  flex: 1 1 auto;
  /* fixed height by content */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.groups {
  flex: 0 1 auto;
}

.group-scroll {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  /* horizontal only */
  overflow-y: hidden;
  padding-bottom: 0.25rem;
}